@media only screen and (min-width: $small) and (max-width: $medium) {
    #bannar {
        padding: 50px 0px;
        background-color: red;
        .banner-contain {
            background-color: red;
            margin-right: 0px;
            color: red; 
        }
    }
        
   
}